/* resets */

* {
    box-sizing: border-box;
}

img {
    display: block;
    margin: 0;
    max-width: 100%;
    height: auto;
    transform: scale(50%);
}


/* typography */

body {
    font-family: "Inter";
    font-size: 16px;
    text-align: center;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    color: hsl(0, 0%, 10%);
}

p {
    line-height: 100%;
    margin: 0;
}


/* layout */

h1 {
    margin: 1em 0;
}

#color-circle {
    margin: auto;
    width: 80vw;
    max-width: 500px;
    aspect-ratio: 1/1;
    border-radius: 100vw;
    background: conic-gradient(
        #FF0000,
        #FF8000,
        #FFFF00,
        #80FF00,
        #00FF00,
        #00FF80,
        #00FFFF,
        #0080FF,
        #4040FF,
        #8000FF,
        #FF00FF,
        #FF0080,
        #FF0000);
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    padding: 0.5em 1em;
    color: hsl(0, 0%, 10%);
    background-color: #FFFFFF;
    border: 1px solid #e6e6e6;
    border-radius: 100000px;
    transition: all 0.2s ease-in-out;
}

.active {
    background-color: #e6e6e6;
}

.hidden {
    opacity: 0;
}

@media screen and (min-width: 866px) {
    main {
        display: flex;
        flex-direction: column-reverse;
    }

    #buttons {
        display: flex;
        gap: 1em;
        margin: auto;
    }

    button {
        margin: 0;
    }
}