/* CSS Resets */
* {
    box-sizing: border-box;
}

img {
    max-width: 400px;
    display: block;
    height: auto;
    margin: auto;
}

/* Mobile Layout */
body {
    font-family: 'Libre Baskerville';
    text-align: center;
    color: #33261A;
    background-color: #FFF2E6;
}

body, #full-mug, #empty-mug {
    transition: all 0.5s ease-in-out;
}

body.dark {
    color: #FFF2E6;
    background-color: #33261A;
}

#banner {
    position: relative;
    margin: 1em auto;
}

#container {
    margin: 1em 1em 2em 1em;
}

main {
    display: flex;
    flex-direction: column-reverse;
}

section {
    margin-top: 1em;
    border-top: 1px solid #33261A;
}

section.dark {
    border-top: 1px solid #FFF2E6;
}

h1, h2, h3 {
    margin: 1em 0;
    font-weight: 400;
    font-style: italic;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 17px;
}

a, button {
    padding: 1em 1.5em;
}

a {
    display: block;
    text-decoration: none;
    color: #33261A;
}

a.dark {
    color: #FFF2E6;
}

a:hover {
    text-decoration: underline;
}

button {
    margin: 1em 0;
    border-radius: 1000px;
    border: 1px solid #33261A;
    color: #FFF2E6;
    background-color: #33261A;
    transition: all 0.1s ease-in-out;
}

button:hover {
    color:#33261A;
    background-color: #FFF2E6;
}

button.dark {
    border-color: #FFF2E6;
}

button.dark:hover {
    color:#33261A;
    background-color: #FFF2E6;
}

nav ol, nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.showing {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

#empty-mug {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

/* Desktop Layout */
@media screen and (min-width: 800px) {
    body {
        text-align: start;
    }

    #container {
        position: relative;
        max-width: 1200px;
        max-height: 750px;
        margin: 4em auto 0 auto;
        padding: 0 1em;
    }

    main {
        flex-direction: row;
        gap: 1em;
        justify-content: space-between;
    }

    button {
        position: absolute;
        top: 0;
        right: 1em;
        margin: 0;
    }

    a {
        margin: 1em 0;
        padding: 0;
    }

    #banner {
        margin: 2em auto;
    }
}