* {
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: 0 1.5em;
    max-width: 700px;
    font-family: 'Libre Baskerville';
    color: #33261A;
    background-color: #FFF2E6;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    border: 1px solid #33261A;
    border-radius: 1em;
}

h1, h2, h3 {
    font-weight: 400;
    line-height: 160%;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 16px;
}

p, li {
    font-family: 'Work Sans';
    font-size: 18px;
    line-height: 160%;
}

a {
    display: block;
    margin: 1em 0;
    padding: 1em;
    font-family: 'Work Sans';
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    border-radius: 1000px;
    color: #33261A;
    background-color: #FFF2E6;
    border: 1px solid #33261A;
    transition: all 0.1s ease-in-out;
}

a:hover {
    color: #FFF2E6;
    background-color: #33261A;
}

footer {
    margin-top: 3em;
    padding: 0 0 4em 0;
}

header {
    padding: 2em 0 0 0;
}

@media screen and (min-width: 600px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 20px;
    }
    
    h3 {
        font-size: 16px;
    }
    
    p {
        font-size: 20px;
    }

    a {
        font-size: 20px;
    }
}