body {
    overflow: hidden;
    margin: 0;
    font-family: "Syne Mono";
    font-size: 20px;
    line-height: 100%;
    color: #FFFFFF;
    background-color: #000000;
}

#dialogue-box {
    overflow: scroll;
    margin: 0 5vw 0 auto;
    padding: 1em 2em;
    width: 30vw;
    height: 100vh;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
}

button {
    display: block;
    width: 100%;
    padding: 1em;
    font-family: "Syne Mono";
    font-size: 20px;
    line-height: 100%;
    text-align: left;
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background-color: #000000;
}

p, button {
    margin: 1em 0;
}

li p {
    margin: 0;
}

.o-brian {
    color: #80FF00;
}

.hart {
    color: #FFBF00;
}

.aida {
    color: #00FFFF;
}