* {
    box-sizing: border-box;
    font-family: "Syne Mono";
}

body {
    margin: 0;
    background-color: #000;
    border: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

#container {
    display: grid;
    grid-template-rows: 4fr 2fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b"
                         "c b"
                         "d d"
                         "e f";
    margin: auto;
    margin-top: 5vh;
    gap: 1em;
    width: 70vw;
    height: 90vh;
    border: none;
}

#portrait {
    grid-area: a;
    display: flex;
    justify-content: center;
    align-items: end;
}

#documents {
    grid-area: c;
}

#doc-closeup {
    grid-area: b;
}

#dialogue {
    display: flex;
    align-items: center;
    grid-area: d;
    color: #fff;
    font-size: 20px;
}

#dialogue p {
    margin: 0 2em;
    color: #ff0;
}

button {
    font-size: 40px;
    text-transform: uppercase;
    background-color: #000;
    border: 1px solid;
}

#deny {
    grid-area: e;
    border-color: #ff0000;
    color: #ff0000
}

#deny:hover {
    color: #000;
    background-color: #ff0000;
}

#accept {
    grid-area: f;
    border-color: #00ff00;
    color: #00ff00;
}

#accept:hover {
    color: #000;
    background-color: #00ff00;
}

div {
    border: 1px solid #fff;
}

.doc {
    background-color: #fff;
    border: none;
    width: 3em;
    height: 4em;
}

.draggable {
    touch-action: none;
    user-select: none;
}